<?xml version="1.0" encoding="utf-8"?>
<configuration>
 
<connectionStrings><add name="BecleEntities" connectionString="metadata=res://*/Database.Becle.csdl|res://*/Database.Becle.ssdl|res://*/Database.Becle.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=HKL-PC\SQLEXPRESS;initial catalog=Becle;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings></configuration>