<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="Database_PandaEntities" connectionString="metadata=res://*/Database_panda.csdl|res://*/Database_panda.ssdl|res://*/Database_panda.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=hkl-pc;initial catalog=Database_Panda;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>