<?xml version="1.0"?>
<configuration>
  <system.serviceModel>
    <services>
      <service name="Panda.Phone.Service.Service.PhoneService"
               behaviorConfiguration="WeatherServiceBehavior">
        <endpoint address="http://localhost:8080/PhoneService"
                  binding="webHttpBinding"
                  behaviorConfiguration="EndpontWeatherServiceBehavior"
                  contract="Panda.Phone.Service.Service.IPhoneService"/>
      </service>
    </services>

    <behaviors>
      <endpointBehaviors>
        <behavior name="EndpontWeatherServiceBehavior">
          <webHttp/>
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="WeatherServiceBehavior">
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
